* {
    font-family: 'Roboto';
}

body {
    margin: 0;
}

.section {
    padding: 80px 200px;
}

.intro {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.info {
    text-align: center;
    padding-top: 0;
}

.quote {
    background-color: lightgray;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    background-color: #1f2937;
}

.footer {
    text-align: center;
    background-color: #1f2937;
    padding: 20px 200px;
    color: #f9faf8;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-links > li {
    list-style: none;
}

.header-links a, .title-subtext {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none; 
}

.intro-content {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.intro-content > div {
    flex: 1;
    /* background-color: yellow; */
}

img {
    max-width: 100%;
    /* background-color: turquoise; */
    border-radius: 16px;
}

.title-text {
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
    margin: 0;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 60px;
}

.info-card {
    max-width: 160px;
    color: #1f2937;
}

.info-card > img {
    border: 4px solid #3882f6;
    height: 160px;
}

.quote {
    color:#1f2937;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
}

.quote-src {
    text-align: right;
    font-weight: bold;
    font-size: 24px;
}

.call-banner {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    padding: 50px 100px;
    color: white;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    font-size: 18px;
    padding: 10px 40px;
}

.call-title {
    font-weight: bold;
    font-size: 24px;
}

.call button {
    align-self: center;
}