body {
    margin: 0;
}

.section {
    padding: 0 200px;
}

.intro {
    background-color: teal;
    display: flex;
    flex-direction: column;
}

.info {
    text-align: center;
}

.quote {
    background-color: lightgray;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-links > li {
    list-style: none;
}

.intro-content {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.intro-content > div {
    flex: 1;
    /* background-color: yellow; */
}

img {
    max-width: 100%;
    /* background-color: turquoise; */
}

.title-text {
    font-weight: bold;
    font-size: xx-large;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.info-card {
    max-width: 200px;
}

.quote-src {
    text-align: right;
}

.call-banner {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    padding: 50px 100px;
    color: white;
}

.footer {
    text-align: center;
    background-color: teal;
}